{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block header %}
    <div class="jumbotron" style="background-color: #8de5db;">
        <h3 class="text-muted" style="color:#990099"><em>
            <p>Биляева Татьяна Владимировна</p>
            <p>педагог - психолог, нейропсихолог</p>
        </em></h3>
    </div>
{% endblock header %}

{% block content %}
    <p style="color:#117C6F; text-indent: 25px;"><em>
        Ежедневно приходя на работу, я благодарю судьбу за то, что я занимаюсь тем, что больше всего меня интересует и волнует в моей жизни, куда постоянно направлено моё внимание и моя энергия. Это психология и дети.
    </em></p>
    <hr class="border border-danger border-2 opacity-50">
    <p style="color:#117C6F; text-indent: 25px;"><em>
        Осознавая важность и необходимость своей профессии, я стараюсь повышать своё профессиональное и личное мастерство. Ведь только будучи целостной и гармоничной личностью психолог имеет возможность быть полезным и эффективным.
    </em></p>
    <hr class="border border-danger border-2 opacity-50">
    <img src='{% static "myphoto44.jpg" %}' class="img-circle img-fluid" alt="Circular Image"
                 style="width: 500px; height: 500px" align="left">
    <h3 style="color:#117C6F; line-height:1,5;"><b>Образование:</b> Высшее</h3>
    <h3 style="color:#117C6F; line-height:1,5;"><b>Курсы повышения квалификации:</b></h3><br>
    <ul style="color:#117C6F; list-style-image: url({% static 'cir.png' %});">
        <li>«Нейропсихология в клинике психических расстройств» 26.08.2022г</li><br>
        <li>«Нейропсихологическая диагностика ВПФ у детей. Нейропсихологическая коррекция школьных навыков» 19.09.2022г.</li><br>
        <li>«Нейропсихологическая диагностика и когнитивная коррекция детей и подростков. Системный анализ нарушений высших корковых функций» 05.04.2022г.</li><br>
        <li>«Нейропсихология детского возраста» 25.12.2021г.</li><br>
        <li>«Классическая нейропсихология. Нейропсихологическая диагностика. Методы нейропсихологической коррекции и реадилитации» 15.07.2022г.</li><br>
        <li>«Детская психиатрия. Подростковая психология и психотерапия. Психосоматические и невротические расстройства в детском возрасте» 20.07.2023г.</li><br>
        <li>«Организация работы по профилактике суицидального поведения подростков» 23.10.24г.</li><br>
        <li>«Раннее выявление предпосылок девиантного поведения у детей и подростков и оказание им своевременной педагогической и психологической помощи» 16.10.24г.</li>
    </ul>
{% endblock %}