{% extends "base.html" %}
{% load bootstrap3 %}

{% block header %}
    <div class="jumbotron" style="background-color: #8de5db; color:#990099;">
        <h3 class="text-muted"><em>
            <p style="color:#990099">Биляева Татьяна Владимировна</p>
            <p style="color:#990099">педагог - психолог, нейропсихолог</p><br>
            <p style="color:#990099">8-918-597-55-88</p>
            <p style="color:#990099">tatyana.bilyaeva@mail.ru</p>
        </em></h3>
    </div>
{% endblock %}

{% block content %}
        {% if messages %}
<h2 style="color:#32CD32"><em><b>{{ messages }}</b></em></h2>
        {% else %}
             <h2 style="color:#990099"><em>{{ content }}</em></h2>
        {% endif %}
    <hr class="border border-danger border-2 opacity-50">
<form method="post">
    {% csrf_token %}
    <div class="dropdown">
        <label for="name" style="color:#117C6F">имя<sup>*</sup></label><br>
        <input style="background-color: #CCCCFF; border-radius: 10px 10px 10px 10px; " type="text" id="name" name="name" maxlength="30" size="40" required><br><br>

        <label for="phone" style="color:#117C6F">номер телефона (без 8 и тире)<sup>*</sup></label><br>
        <input style="background-color: #CCCCFF; border-radius: 10px 10px 10px 10px; " type="text" id="phone" name="phone" maxlength="10" size="40" required><br><br>

        <label for="email" style="color:#117C6F">электронная почта</label><br>
        <input style="background-color: #CCCCFF; border-radius: 10px 10px 10px 10px; " type="text" id="email" name="email" maxlength="30" size="40"><br><br>

        <label for="comment" style="color:#117C6F">комментарий</label><br>
        <input style="background-color: #CCCCFF; border-radius: 10px 10px 10px 10px; " type="text" id="comment" name="comment" maxlength="500" size="40"><br><br>

        <button style="background-color: #289cbe;" class="btn btn-success rounded-pill px-3" type="submit" name="register">Записаться</button>
        <br><br>
        <p style="color:#117C6F"><small><sup>*поле, обязательное для заполнения</sup></small></p>
    </div>
</form>
{% endblock %}